<ion-side-menus enable-menu-with-back-views="true" ng-init="initMenu();" title="k s">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable primary-color" class="bar-stable" style="background-color:#009688 !important" >


      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon"  menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent">
      <!--  ALL VIEWS OF CUSTOMERS DISPLAYED HERE!!! -->
    </ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>

      <ion-list>
        <ion-item nav-clear menu-close class="sidenav-header primary-color" style="border:0">
          <div>
            <div class="nav-avatar" ng-click="miProfile();">
              <img class="circle avatar" ng-src="{{currentUser.avatar}}</" alt="">
              <div class="avatar-body">
                <h3>{{currentUser.firstName}}</h3>

              </div>
            </div>

          </div>
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="employees.dashboard">
          <i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;&nbsp; Declarar reciclaje
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="employees.futureApplications">
          <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp; WeFix Aceptados
          <span class="badge" style="display: inline-block;color: white;background-color: #ff5722;">{{wefixTotal.totalApplication}}</span>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="employees.pastJobs">
          <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp; WeFix Realizados
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="employees.profile">
          <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; Mi Perfil
        </ion-item>

        <ion-item nav-clear  menu-close ui-sref="terms">
          <i class="fa fa-gavel" aria-hidden="true"></i>&nbsp;&nbsp; T&eacute;rminos y Condiciones
        </ion-item>

        <ion-item nav-clear menu-close href="#" ng-click="logOutEmployee()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp; Salir
        </ion-item>
      </ion-list>




    </ion-content>
  </ion-side-menu>
</ion-side-menus>


<style>
.bar-stable .button.button-clear {

    color: #ffffff;

}
</style>
