<ion-view   hide-back-button="true" ng-init="init()">
  <ion-content>

    <div class="h-banner animated fadeindown">
      <div class="parallax bg-9" style="">
        <!-- <img src="img/wall.jpg" alt="" /> -->
        <img src="img/profile_img.png" alt="" />
         <!-- <img src="img/profile_img.png" alt="" class="circle " style="width:10px;"> -->
        <div class="floating-button animated bouncein delay-3" style="right: 40vw;">

        <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1" ng-click="goToProfile();">
          <i class="fa fa-pencil" aria-hidden="true"></i>


        </span>
      </div>
        <div class="banner-title">{{user.nombre_usuario}}</div>
      </div>
    </div>

     <div class="row" style="margin-top:30px;">

       <div class="col s3">
         <p class="white-text" style="color: #a5a2a2 !important;">Latas</p>
       </div>
       <div class="col s3">
         <p class="white-text" style="color: #a5a2a2 !important;">Vidrio</p>
       </div>
       <div class="col s3">
         <p class="white-text" style="color: #a5a2a2 !important;">Plastico</p>
       </div>
       <div class="col s3">
         <p class="white-text" style="color: #a5a2a2 !important;">Carton</p>
       </div>

     </div>


     <div class="col s12">

       <a class="waves-effect waves-light btn" style="border-radius:10px;width:100%;padding: 0px;text-transform: capitalize;" ng-click="goToRecycle();">
         <i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;Declarar Reciclaje</a>

     </div>













    <style>
    .scroll-content {
    overflow: visible !important;
    }
    .bar.bar-header {
         background: rgba(255,255,255,.10);
    border-bottom-width: 0;
    }
    .platform-ios.platform-cordova:not(.fullscreen) .has-header {
     top:0px;
    }
    .primary-color {
      background-color: transparent !important;
}




    </style>

  </ion-content>
  <!-- <a class="btn-floating btn-large waves-effect waves-light red" style="position: fixed;top: 80vh;left: 80vw;" ng-click="goRecycle();"><i class="fa fa-recycle" aria-hidden="true"></i> -->
  </a>
</ion-view>
