<ion-view ng-init="init()"  hide-back-button="true" >
<ion-content>



  <div class="" style="height:30vh;width100%;position:relative;top:-44px;">
<!-- <img src="../../img/premio.jpg" alt="" />
<h1>Premios</h1> -->

<div class="card" style="margin:0px;padding:0px;">
            <div class="card-image">
              <img src="../../img/premio.jpg">
              <span class="card-title">Premios</span>
            </div>


          </div>

  </div>

  <div class="shop-banner animated fadeinup delay-1" ng-click="goToGifts('comida')">
    <a>
      <img src="../../img/food.jpg" alt="">
      <div class="border-overlay valign-wrapper">
        <div class="valign center width-100">
          <p class="white-text">Comida</p>
          <!-- <p class="white-text"></p> -->
        </div>
      </div>
    </a>
  </div>

  <div class="shop-banner animated fadeinup delay-1" ng-click="goToGifts('Accesorios')">
    <a>
      <img src="../../img/food.jpg" alt="">
      <div class="border-overlay valign-wrapper">
        <div class="valign center width-100">
          <!-- <h3 class="white-text">Accesorios</h3> -->
          <p class="white-text">Accesorios</p>
        </div>
      </div>
    </a>
  </div>
  <div class="shop-banner animated fadeinup delay-1" ng-click="goToGifts('Descuentos')">
    <a>
      <img src="../../img/food.jpg" alt="">
      <div class="border-overlay valign-wrapper">
        <div class="valign center width-100">
          <p class="white-text">Descuentos</p>
        </div>
      </div>
    </a>
  </div>
  <div class="shop-banner animated fadeinup delay-1" ng-click="goToGifts('otro')">
    <a>
      <img src="../../img/food.jpg" alt="">
      <div class="border-overlay valign-wrapper">
        <div class="valign center width-100">
          <p class="white-text">No se me ocurre</p>
        </div>
      </div>
    </a>
  </div>
  <div class="shop-banner width-100 animated fadeinup delay-3"  ng-click="goToGifts('ropa')">
    <a>
      <img src="../../img/food.jpg" alt="">
      <div class="border-overlay valign-wrapper">
        <div class="valign center width-100">
          <p class="white-text">Ropa</p>
        </div>
      </div>
    </a>
  </div>

      <style>
      .scroll-content {
      overflow: visible !important;
      }
      .bar.bar-header {
           background: rgba(255,255,255,.10);
      border-bottom-width: 0;
      }
      .platform-ios.platform-cordova:not(.fullscreen) .has-header {
       top:0px;
      }
      .primary-color {
        background-color: transparent !important;
}

p{
      font-weight: 400 !important;
}




      </style>

  </ion-content>
</ion-view>
