<ion-view ng-init="init()"  hide-back-button="true">
<ion-content>

  <time-date-picker ng-model="dateValue"></time-date-picker>

  <div class="card" style="padding:0px;">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../img/pizza.jpg">
      </div>
      <div class="card-content"style="padding-left:20px;padding-right:20px;">
        <span class="card-title activator grey-text text-darken-4">Pizza gratis<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Ver pagina </a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
      <div class="card-action">
         <a href="#">Canjear</a>
       </div>
    </div>

    <div class="card" style="padding:0px;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../img/cine.jpg">
        </div>
        <div class="card-content"style="padding-left:20px;padding-right:20px;">
          <span class="card-title activator grey-text text-darken-4">Pizza gratis<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Ver pagina </a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
        <div class="card-action">
           <a href="#">Canjear</a>
         </div>
      </div>

  </ion-content>
</ion-view>
