<ion-view   hide-back-button="true" ng-init="init()">
  <ion-content>

    <div class="h-banner animated fadeindown">
      <div class="parallax bg-9" style="">
        <!-- <img src="img/wall.jpg" alt="" /> -->
        <img src="img/profile_img.png" alt="" />
         <!-- <img src="img/profile_img.png" alt="" class="circle " style="width:10px;"> -->
        <div class="floating-button animated bouncein delay-3" style="right: 40vw;">

        <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1" ng-click="goToProfile();">
          <i class="fa fa-pencil" aria-hidden="true"></i>


        </span>
      </div>
        <div class="banner-title">{{user.nombre_usuario}}</div>
      </div>
    </div>


    <a class="waves-effect waves-light btn" ng-click="goToAddressList();">Lista de direcciones</a>





  </ion-content>
</ion-view>
