<ion-view view-title="" hide-nav-bar="true" ng-init="init();">
  <ion-content scroll="true" class="background-login" >

    <!-- first info -->

    <div class="signup-form animated  delay-2 z-depth-1" style="margin-right:20px;margin-left:20px;margin-top: 0px;" id="first-info">
    <div>
      <div class="row">
        <div class="col s4"></div>
        <div class="col s4"><img ng-src="{{user.avatar}}" alt="" src="../img/profile_img.png" class="circle responsive-img" id="thumbnailImage" ng-click="userPhoto();"> </div>
        <div class="col s4"></div>
      </div>
      <div class="input-field col s12" style="margin-top: 0px;" >
        <input  id="email-input" type="text" class="validate" ng-model="user.email" style="margin-bottom:10px;">
        <label for="email-input" id="email-label" class="">Email</label>
      </div>
      <div class="input-field col s12" style="margin-top: 0px;">
        <input  id="pass-name" type="password" class="validate" ng-model="user.password" style="margin-bottom:10px;">
        <label for="pass-name" id="pass-label" class="">Contraseña</label>
      </div>
      <div class="input-field col s12" style="margin-top: 0px;">
        <input  id="first-name" type="text" class="validate" ng-model="user.name" style="margin-bottom:10px;">
        <label for="first-name" id="first-name-label" class="">Nombre</label>
      </div>
      <div class="input-field col s12" style="margin-top: 0px;">
        <input  id="phone" type="text" class="validate" style="margin-bottom:10px;" ng-model="user.phone" placeholder="+56912345678">
        <label for="phone" id="phone-label" class="active">Telefono</label>
      </div>
    </div>
    <a class="btn-floating right-align waves-effect waves-light yellow darken-1" ng-click="nextInfo();" style="position: absolute;right: 12vw;"> <i class="ion-ios-arrow-thin-right" aria-hidden="true"></i></a>
  </div>


  <!-- Second info -->

  <div class="signup-form animated hide delay-2 z-depth-1" style="margin-right:20px;margin-left:20px;margin-top: 0px;" id="second-info">
    <h4 class="center-align" style="font-weight:200">Como deseas registrarte ?</h4>
    <div class="row" style="margin-bottom:0px;" ng-click="nextInfoAddress('user');">
      <div class="col s12 m7">
        <div class="card" style="padding:0px;">
          <div class="card-image">
            <img src="img/minimarket.png" alt="">
            <span class="card-title">Persona</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:0px;" ng-click="nextInfoAddress('commerce');">
      <div class="col s12 m7">
        <div class="card" style="padding:0px;">
          <div class="card-image">
            <img src="img/minimarket.png" alt="">
            <span class="card-title">Comercio</span>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--  thirdInfo  -->

  <div class="signup-form animated hide delay-2 z-depth-1" style="margin-right:20px;margin-left:20px;margin-top: 0px;" id="third-info-user">
    <!-- <h6 class="center-align">Ingresa tu direcci&oacute;n</h6> -->
    <!-- <div id="map" style="height:25vh;"></div> -->
  </br>
  <div class="row" style="margin-bottom:0px;">
    <div class="col s12" style="padding:5px">
      <div class="input-field col s12" style="margin-top: 0px;padding-left:0px;">
        <input  id="address-name" type="text" class="validate" ng-model="address.name" style="margin-bottom:10px;font-size: smaller;">
        <label for="address-name" id="address-name
        -label">Nombre de direccion</label>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom:0px;">
    <div class="col s12" style="padding:5px">
      <div class="input-field col s8" style="margin-top: 0px;padding-left:0px;">
        <input  id="address-street" type="text" class="validate" ng-model="address.street" style="margin-bottom:10px;font-size: smaller;">
        <label for="address-street" id="address-street-label">Direccion</label>
      </div>

      <div class="input-field col s4" style="margin-top: 0px;padding-right:0px;">
        <input  id="address-number" type="text" class="validate" ng-model="address.number" style="margin-bottom:10px;font-size: smaller;">
        <label for="address-number" id="address-number-label">Numero</label>
      </div>
    </div>
  </div>

  <select class="browser-default" ng-model="address.region" ng-change="loadCommunes(address.region)">
      <option value="" disabled selected>Seleccione una Región</option>
      <option ng-repeat="region in regions" ng-show="region.habilitado == 1" value="{{region.REGION_ID}}">{{region.REGION_NOMBRE}}</option>
    </select>
</br>
    <select class="browser-default" ng-model="address.commune">
        <option value="" disabled selected>Seleccione una Comuna</option>
        <option ng-repeat="commune in communes" ng-show="commune.habilitado == 1 " value="{{commune.COMUNA_ID}}">{{commune.COMUNA_NOMBRE}}</option>
      </select>

  <div class="row" style="margin-bottom:0px;">
    <div class="col s12" style="padding:5px">
      <div class="input-field col s6" style="margin-top: 0px;">
        <input  id="block" type="text" class="validate" style="margin-bottom:10px;" ng-model="address.block">
        <label for="block">block</label>
      </div>
      <div class="input-field col s6" style="margin-top: 0px;">
        <input  id="depto" type="text" class="validate" style="margin-bottom:10px;" ng-model="address.numberDepto">
        <label for="depto">Nº depto</label>
      </div>
    </div>
  </div>
  <!-- <a class="btn-floating right-align waves-effect waves-light red" ng-click="nextInfo();" style="position: absolute;"> <i class="fa fa-location-arrow" aria-hidden="true"></i></a> -->
  <a class="btn-floating right-align waves-effect waves-light yellow darken-1" ng-click="finishUser(user,address);" style="position: absolute;right: 12vw;"> <i class="ion-ios-checkmark-empty" aria-hidden="true"></i></a>
</div>






<!-- fourth info -->

<div class="signup-form animated hide delay-2 z-depth-1" style="margin-right:20px;margin-left:20px;margin-top: 0px;" id="fourth-info-commerce">
  <h4 class="center-align">Informaci&oacute;n de comercio</h4>
  <div class="input-field col s8" style="margin-top: 0px;" >
    <input type="text" class="validate" ng-model="user.commerce_name"  style="margin-bottom:10px;" placeholder="Nombre comercio">
  </div>
  <div class="input-field col s8" style="margin-top: 0px;" >
    <input type="text" class="validate" ng-model="user.commerce_dni"  style="margin-bottom:10px;" placeholder="Rut de tu comercio">
  </div>
  <div class="input-field col s8" style="margin-top: 0px;" >
    <input type="text" class="validate" ng-model="user.commerce_description"  style="margin-bottom:10px;" placeholder="Descripcion de tu comercio">
  </div>
  <div class="waves-effect waves-light width-100 delay-4 z-depth-1" style="background-color:#2ca8ad;font-weight:500;margin-bottom:20px;" ng-click="commercePhoto()" ><a class="btn-flat " style="color:white;width:100%;"> foto comercio</a></div>

  <!-- <a class="waves-effect waves-light btn" style="background-color:#2ca8ad;font-weight:500;margin-bottom:20px;">button</a> -->

  <!-- <div class="waves-effect waves-light right-align width-100 delay-4"  ng-click="nextInfoPersonal();"><a class="btn-flat " style="color:#2ca8ad;width:100%;">Siguiente <i class="ion-arrow-right-c"></i></a></div> -->
  <a class="btn-floating right-align waves-effect waves-light yellow darken-1" ng-click="nextInfoCommerce(user,address);" style="position: absolute;right: 12vw;"> <i class="ion-ios-checkmark-empty" aria-hidden="true"></i></a>
</div>


<style >

.row{
  padding:0px;
}
.s4{
  padding:0px;
}
.btn-flat:hover {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.modal{
  min-height: auto;
  width: auto;
  z-index:100;
  margin: 20px;
  margin-top: 10vh;
}

.modal-footer {
  background-color: #ffffff !important;
}

.lean-overlay {
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.loading-container.active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.40);
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e !important;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s;
}
</style>

</ion-content>
</ion-view>
