/*******************************************************************************
 * App styles
 *
 */

/* welcome page */
/*@media only screen and (orientation: landscape) {
  .container-welcome .btnComenzar{
    margin-top: 0;
    position: absolute;
    bottom: 15vh;
    left: 50%; -webkit-transform: translate(-50%); transform: translate(-50%);
     }
     }*/
.container-welcome {text-align: justify; width: 90%; margin: 0 auto;}
.slider {height: 100%;}
.slider-slide {padding-top: 80px;color: #000;background-color: #fff;text-align: center;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300;}
#logo {margin: 30px 0px;}
#list {width: 170px;margin: 30px auto;font-size: 20px;}
#list ol {margin-top: 30px;}
#list ol li {text-align: left;list-style: decimal;margin: 10px 0px;}
.button.ng-hide{display:none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.rounded {
  width:60px;
  text-align: center;
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 15px 15px 15px 15px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

input.rounded:focus {
  border-color: #339933;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.rounded {
  width:60px;
  text-align: center;
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 15px 15px 15px 15px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

input.rounded:focus {
  border-color: #339933;

}

/* login page */
.button-facebook, .button-facebook:hover{background-color: #374e8e; color:#fff;}
.background-login.scroll-content{
 background: url(../img/fdo_login.png?v1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* home page */
.action-icon{font-size: 28px;}
/* general */
.img-circle {border-radius: 50%;}
.center-block{margin: 0 auto;}
.text-center{text-align: center;}
.button-background-transparent{background-color: transparent; border: 0;}
.container_principal{
	background: -webkit-linear-gradient(top, rgba(14,186,184,1) 0%, rgba(0,158,179,1) 68%, rgba(21,141,185,1) 100%);
	border-radius: 20px 20px 20px 20px;
	width: 95%;
	height: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: -2%;
	color:#fff;
}
.content-item-categories{padding-left: 5%; padding-right: 5%;}
.badge-size{font-size: 22px; line-height: 22px;border-radius: 12px;vertical-align: middle !important; width: 35px;}
.badge-cell{margin-right: 3px;}
@font-face {
font-family: "DINPro-Bold";
src: url("../fonts/Tipografia Reciclapp/DINPro-CondBlack.woff")format('woff');
}

@font-face {
font-family: "DINPro-light";
src: url("../fonts/Tipografia Reciclapp/DINPro-Light.woff")format('woff');
}

.topBar {
    font-family: "DINPro-Bold";
    background-color: #128da4;
    color:#fff;
    height: 60px;
    text-align: center;
}

.button-clear.button-clear {
    color:#fff !important;
}

.title.title-left.header-item {
    line-height: 60px;
    text-align: center;
    margin-left: -45px;
}

.txtReciclappBoldM{
    font-family: "DINPro-Bold";
    font-size: medium;
    width: 85%;
    text-align: center;
    margin: 0px auto 30px;

}

.logotxtReciclapp{
    font-family: "DINPro-light";
    color:#fff;
    font-size: 40px;
}
.txtBienvenida{
	margin-top: 50px;
}
.btnComenzar{
    border-radius: 10px;
    min-width: 200px;
    min-height: 40px;
    background-color: #fff;
    margin-top: 10%;
    border:0px;
    box-shadow: 0px 6px 0px #b3b3b3;
    color: #4d4d4d;
    font-size: large;
}
.barraCategorias{
    background-color: #5c2b7f;
    border-radius: 10px;
    color: #fff;
    margin-top:10px;
    min-height: 50px;
    font-family: "DINPro-light";
    padding-right: 10px;
    padding-left: 10px;
}

.history {

}

.history .barraCategorias {
    background-color: #5c2b7f;
    border-radius: 0px;
    color: #fff;
    margin-top:10px;
    min-height: 50px;
    font-family: "DINPro-light";
    padding-right: 10px;
    padding-left: 10px;
}


.history .barraCategorias td {
    font-family: "DINPro-light";
    font-weight: bold;
}

.history .barraCategorias td.bolder {
    font-weight: bold;
}

.barraCategorias .categoryName {
    font-weight: bold;
    font-size: 20px;
    color:#fff;
}

.barraCategorias .categoryImage{
    padding: 5px;
}

.barraCategorias .categoryImage img{
    height: 40px;
}

.barraCategorias td {
    vertical-align: middle;
}

.categoryTips{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5px;
}

.categoryTips .categoryTipsContent{
    text-align: justify;
}

.categoryTips h3 {
    color:#128da4;
}

.categoryTips strong {
    color: #128da4;
    text-align: center
}

.btnAzulR, .btnAzulR:hover{
    background-color: #128da4;
    color: #fff;
    box-shadow: 0px 6px 0px #6d6d6d;
    margin-top:50px;
    margin-bottom: 40px;
    border-radius: 10px;
    width: 40%;
    font-weight: 500;
}

.btnAzulR2, .btnAzulR2:hover{
    background-color: #128da4;
    color: #fff;
    box-shadow: 0px 6px 0px #6d6d6d;
    border-radius: 10px;
    font-weight: 500;
}

.btnMoradoR, .btnMoradoR:hover{
    background-color: #481a6b;
    color: #fff;
    box-shadow: 0px 6px 0px #6d6d6d;
    border-radius: 10px;
    font-weight: 500;
}

.txtMorado{
    color:#5c2b7f;
}
.txtAzul{
    color:#128da4;
}
.txtGris{
    color:#535353;
}


.margin-bottom-10{margin-bottom: 10px;}
.has-header {top:60px;}
.category-summary { }
.category-summary span{font-family: "DINPro-light"; font-weight: bold}
.modal-backdrop{background-color: transparent;}
.modal{display: block}
.platform-android .modal .bar .title{
    text-align: center !important;
    line-height: 60px;
    margin-right: -45px;
}
.summary-legend{
    width: 60%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 16px;
    font-family: "DINPro-light";
}

.summary-container{
    margin-top: 40px;
    font-weight: bold;
    font-size: 22px;
    font-family: "DINPro-light";
}

.bar-header-profile.bar-header {
    height: 200px;
}

.bar-header-profile-content{
    margin-top: 200px;
    text-align: center;
    font-family: "DINPro-light";
    font-weight: bold;
    color:#535353;
    font-size: 18px;
}

.menu-profile {
    margin-top: 45px;
    margin-left: 10px;
}

.menu-profile .image{

}

.menu-profile .name{
    padding-top: 30px;
    margin-left: 20px;
    font-size: 16px;
    word-break: break-word;
    overflow-x: hidden;
    max-width: 125px;
    text-align: left;
}

.menu-profile img{
    height: 100px;
}




.toggle.toggle-reciclapp input:checked + .track {
    border-color: #128da4;
    background-color: #128da4;
}
